extends html-boiler
block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        div(class=['masthead', 'clearfix'])
          .inner
            h3.masthead-brand Brand
            nav 
              ul(class=['nav','masthead-nav'])
                li: a(href="index.html") Home
                li: a(href="gallery.html") Gallery
                li: a(href="#") About
                li: a(href="#") Contact
        .inner-cover
          .container(class=['album'])
            .row
              .col-lg-4
                img(class=['rounded-circle'] src="./img/a.jpg" alt="placeholder img" width="140" height="140")
                h2 Abstacts
                p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p: a(class=['btn', 'btn-secondary'] href="" role="button") View album 
              .col-lg-4
                img(class=['rounded-circle'] src="./img/p.jpg" alt="placeholder img" width="140" height="140")
                h2 Paintings
                p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p: a(class=['btn', 'btn-secondary'] href="" role="button") View album
              .col-lg-4
                img(class=['rounded-circle'] src="./img/d.jpg" alt="placeholder img" width="140" height="140")
                h2 Digital
                p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                p: a(class=['btn', 'btn-secondary'] href="" role="button") View album
              
                  
                  
              
        .mastfoot
          .inner
            p Footer           