mixin image(thumbnail, image)
  .col-lg-3(class=['col-md-3', 'col-sm-3', 'thumb'])
    a.thumbnail(href=thumbnail, target="_blank")
      img.img-responsive(src=image width="140" height="140")

mixin footer
  p Footer