extends html-boiler
block nav
  +nav
  .inner-cover
    section(class=['jumbotron', 'text-center'])
      .container
        h1.jumbotron-heading Abstract Album
        p(class=['lead', 'text-muted']) Something short and leading about the collection below—its contents, the creator, etc.      
    .container
      .row
        - for(var i = 0; i < 8; i++)
          +image(placeholder, placeholder)                
  