mixin image()
  .col-lg-3(class=['col-md-3', 'col-sm-3', 'thumb'])
    a.thumbnail(href="./img/placeholder.png", target="_blank")
      img.img-responsive(src="./img/placeholder.png" width="140" height="140")