extends html-boiler
block nav
  +nav
  .inner-cover
    .container(class=['album'])
      .row
        .col-lg-4
          img(class=['rounded-circle'] src="./img/a.jpg" alt="placeholder img" width="140" height="140")
          h2 Abstacts
          p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p: a(class=['btn', 'btn-secondary'] href="abstract.html" role="button") View album 
        .col-lg-4
          img(class=['rounded-circle'] src="./img/p.jpg" alt="placeholder img" width="140" height="140")
          h2 Paintings
          p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p: a(class=['btn', 'btn-secondary'] href="paintings.html" role="button") View album
        .col-lg-4
          img(class=['rounded-circle'] src="./img/d.jpg" alt="placeholder img" width="140" height="140")
          h2 Digital
          p  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
          p: a(class=['btn', 'btn-secondary'] href="digital.html" role="button") View album
           