extends html-boiler
block nav
  +nav
block coverContent
  h1.cover-heading Cover your Page
  p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
    +coverPageContent
             